# Dependencies
node_modules/
/dist/
/.npm/

# Environment Variables & Secrets
.env
.env.local
.env.*.local
*.private

# Editor / OS config
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Backend uploads / dynamic files
backend/uploads/*
!backend/uploads/.gitkeep
